<!--
性能统计趋势图
cpu 趋势
mem 趋势
-->
<html>
<head>
</head>
<body>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<div style="padding:20px">
    <h3>性能统计:</h3>
    <hr>
    <div id="cpu"></div>
    <div id="meminfo"></div>
</div>

<script>
Highcharts.chart('cpu', {
    title: {
        text: 'CPU使用率'
    },
    chart: {
            zoomType: 'x'
     },
     "yAxis":
    {
        "labels": {
            "format": "{value} %"
        },
        "title": {
            "text": "crash率"
        }
    },
    series: [{
        name: 'CPU使用率',
        data: {{ cpuinfo }}
    }]
});

Highcharts.chart('meminfo', {
    title: {
        text: '内存剩余'
    },
    chart: {
            zoomType: 'x'
    },
    series: [{
        name: '内存剩余',
        data: {{ meminfo }}
    }]
});
</script>

</body>
</html>


